$backgroundColor : #e6ebec;


.divider {
    height:3.5vh;

}
.divider-small {
    height:1.5vh;
}
.divider-big {
    height:7.5vh;
}


.bg-black {
    background-color: rgb(24, 23, 23);
}
.bg-white {
    background-color: white;
}
.bg-lightblue {
    background-color: #bed6f0;
}
.bg-background {
    background-color:$backgroundColor;
}









