@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato&family=Poppins&family=Roboto&family=Staatliches&display=swap");
/* COLOR VARIABLES */
#header-container {
  height: 100%;
  width: 100%;
}

#header-container #header-top {
  height: 70%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
}

#header-container #header-top #header-top-left {
  height: 100%;
  width: 100%;
}

#header-container #header-bottom {
  height: 30%;
  background-color: #3e6188;
}

#header-logo {
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#root {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #e6ebec;
}

#root #reserved-container {
  height: 175px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

#root #reserved-container #reserved-column-1 {
  background-color: #fff;
}

#root #reserved-container #reserved-column-2 {
  background-color: #fff;
}

#footer-info {
  height: 25%;
  background-color: #2a3441;
}

#footer-info #footer-text {
  color: #fff;
  font-size: 2.3vh;
  font-family: lato;
  position: relative;
  top: 90%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#footer-container {
  height: 75%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
}

#footer-middle {
  height: 100%;
  width: 100%;
}

#footer-middle #footer-middle-top {
  height: 50%;
}

#footer-middle #footer-middle-bottom {
  height: 50%;
}

#content {
  background-color: #e6ebec;
  min-height: 1500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 77% 22%;
      grid-template-columns: 77% 22%;
  grid-column-gap: 1%;
}

#content #main-content {
  background-color: #fff;
}

#content #right-panel {
  background-color: #fff;
}

#alert-container {
  min-height: 10vh;
  border-radius: 5px;
  width: 97%;
  margin-left: 1.5%;
}

#alert-container #announcement {
  margin-left: 2%;
}

#alert-container span {
  font-size: 3.75vh;
  font-family: 'Bree Serif',verdana,serif;
  color: #1f4b7f;
}

#category-header {
  height: 10vh;
  background-color: #292727;
  width: 97%;
  margin-left: 1.5%;
}

#category-header h1 {
  color: #fff;
  font-size: 6vh;
  font-family: 'Staatliches',tahoma;
  font-weight: 300;
  position: relative;
  top: 50%;
  left: 1%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#category-main {
  min-height: 100vh;
  width: 97%;
  margin-left: 1.5%;
}

#category-main .category-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  height: 12.5vh;
  width: 100%;
  border-bottom: 1px solid #e7eef0;
}

#category-main .category-item .category-info {
  border-right: 0.5px solid #e7eef0;
  height: 100%;
  width: 100%;
}

#category-main .category-item .category-info .category-name {
  color: #1060bb;
  font-weight: 600;
  font-family: 'Poppins',verdana,helvetica;
  font-size: 3vh;
  position: relative;
  top: 40%;
  left: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#category-main .category-item .category-stats {
  height: 100%;
}

#recent-threads-main {
  min-height: 75vh;
  width: 97%;
  margin-left: 1.5%;
}

#recent-threads-main .recent-threads-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  min-height: 10vh;
  width: 100%;
  border-bottom: 1px solid #e7eef0;
}

#recent-threads-main .recent-threads-item .recent-threads-info {
  height: 100%;
  width: 100%;
}

#recent-threads-main .recent-threads-item .recent-threads-info .recent-threads-name {
  color: #525c66;
  font-weight: 600;
  font-family: 'Roboto',verdana;
  font-size: 2.3vh;
  overflow-x: hidden;
  position: relative;
  top: 50%;
  left: 1%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#recent-threads-main .recent-threads-item .recent-threads-stats {
  height: 100%;
}

#recent-threads-header {
  height: 10vh;
  background-color: #292727;
  width: 97%;
  margin-left: 1.5%;
}

#recent-threads-header h1 {
  color: #fff;
  font-size: 6vh;
  font-family: 'Staatliches',tahoma;
  font-weight: 300;
  position: relative;
  top: 50%;
  left: 1%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.divider {
  height: 3.5vh;
}

.divider-small {
  height: 1.5vh;
}

.divider-big {
  height: 7.5vh;
}

.bg-black {
  background-color: #181717;
}

.bg-white {
  background-color: white;
}

.bg-lightblue {
  background-color: #bed6f0;
}

.bg-background {
  background-color: #e6ebec;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: calc(100vw - (100vw - 100%));
  padding: 0px;
  margin: 0px;
  font-size: 2.1vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #e6ebec;
}

header {
  height: 30%;
  background-color: #fff;
}

main {
  min-height: 300%;
  width: 97%;
  margin-left: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e2dddd;
}

footer {
  width: 100%;
  height: 60vh;
  background-color: #344252;
}
/*# sourceMappingURL=style.css.map */